/* My class */

/* TODO Blackbar Sony */
.ms_blackbarsony{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
}

.ms_disp-flex_right{
    display: flex;
    width: 10%;
    height: auto;
    padding: 1% 2%;
}


/* TODO Navbar */

.border{
    border: 1px solid brown;
}

/* TODO Jumbo */

.ms_img_container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./../img/jumbo-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#returnallogo{
    display: flex;
    width: 50%;
    height: auto;
}

.ms_pjumbo{
    display: inline-block;
    width: 100%;
    height: auto; 
}

/* TODO Jumbo 2 Section */
.ms_img_container1{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ittakestwologo{
    display: inline-block;
    width: 50%;
    height: auto;
}

/* TODO Hover Utility */

.opacity:hover{
    filter: opacity(1);
}

.borderb_cl_lbl:hover{
    border-bottom: 2px solid rgb(54, 97, 211);
}

.opacity:hover{
    filter: opacity(1);
}

.buttonhoborder:hover{
    display: flex;
    border: 3px solid rgb(33, 36, 41);
    box-shadow: inset 0 0 0 0.2em white;
}

.buttonhoborder1:hover{
    display: flex;
    border: 3px solid rgb(235, 0, 52);
    box-shadow: inset 0 0 0 0.2em white;
}

.buttonhoborder2:hover{
    display: flex;
    border: 3px solid rgb(76, 0, 255);
    box-shadow: inset 0 0 0 0.2em white;
}

.buttonhoborder3:hover{
    display: flex;
    border: 3px solid rgb(211, 211, 211);
    box-shadow: inset 0 0 0 0.2em white;
}



/* TODO Mod Tags */
a{
    text-decoration: none;
}

p.ms_pjumbo {
    font-size: 0.8em;
}

/* TODO Utility */

.buttonhoborder1{
    display: flex;
}

.buttonhoborder2{
    display: flex;
}

.buttonhoborder3{
    display: flex;
}

.ms_clblk{
    color: black;
}

.ms_border_rad{
    border-radius: 10px;
}

.opacity{
    filter: opacity(0.5);
}

.rcircled{
    font-size: 0.3em;
}

.circled1{
    font-size: 0.8em;
}

.circled2{
    font-size: 0.9em;
}


.ms_bgclgrayself{
    background-color: rgb(189, 187, 185);
}

.ms-colorlighgray{
    background-color: lightgray;
}

.ms-colormadepurp{
    background-color: rgb(33, 21, 62);
}

.ms-textcolormadepurp{
    color: rgb(33, 21, 62);
}

.ms_colormadepurpbl{
    background-color: rgb(45, 0, 157);
}

/* TODO Responsive */

@media screen and (max-width: 540px) {
    .ms_disp-flex_right{
        display: flex;
        width: 30%;
        height: auto;
        padding: 1% 2%;
    }

    .ms_img_container{
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url(./../img/jumbo-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ms_pjumbo{
        display: inline-block;
        width: 80%;
        height: auto; 
    }
}

@media screen and (max-width: 768px) {
    .ms_disp-flex_right{
        display: flex;
        width: 30%;
        height: auto;
        padding: 1% 2%;
    }

    .ms_img_container{
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url(./../img/jumbo-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ms_pjumbo{
        display: inline-block;
        width: 100%;
        height: auto; 
    }

    .ms_img_container1{
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #ittakestwologo{
        display: inline-block;
        width: 70%;
        height: auto;
    }
}